.post {
	width: 100%;
}

.avatarWrap {
	width: 40%;
	height: auto;

	@media (min-width: 425px) {
        width: 30%;
    }

	@media (min-width: 576px) {
        width: 20%;
    }

	img {
		width: 100%;
		height: 100%;
	}
}

.postTextWrap {
	width: 100%;

	@media (min-width: 576px) {
        width: 75%;
    }
}